<div id="panel-gallery" role="tabpanel" class="panel">
  <ul class="gallery-masonry">
    {% for g in gallery %}
      {% if g.thumb_w256 %}
      <li class="gallery-item">
        <a class="gallery-link" href="{% url 'media:image_public' path=g.thumb_w768.name %}" target="_blank" rel="noopener">
          <img class="gallery-img" src="{% url 'media:image_public' path=g.thumb_w256.name %}" alt="{{ g.caption|default:'Imagem' }}" loading="lazy" />
        </a>
      </li>
      {% endif %}
    {% empty %}
      <li class="nickname">Sem imagens.</li>
    {% endfor %}
  </ul>
</div>
